@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

// Color Palette

$backgroundColor: linear-gradient(#5111F4, #BE85E0);
$primaryColor: #5111F4;
$textColor: #FFFFFF;
$secondaryTextColor: #EBEBEB;
$darkTextColor: #414141;
$hoverColor:  #4141414d;

// Font

$primaryFont: 'Istok Web', sans-serif;
$bold: 700;
$light: 400;

// Border

$border: 1.8px solid #fff;
$borderRadius: 2px;
