@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;

  font-family: $primaryFont;
  background: $backgroundColor;
  background-color: #BE85E0;
  background-repeat: no-repeat;
  color: $textColor;
}

h1, h2 {
  font-weight: $bold;
}

h3 {
  font-weight: $light;
}

.MuiTypography-root {
  font-family: $primaryFont !important;
}

.MuiButton-outlined {
  font-family: $primaryFont !important;
  font-size: 16px !important;
  text-transform: none !important;

  border: $border !important;
  border-radius: $borderRadius !important;

  color: $textColor !important;

  padding: 5px 20px 1px 20px !important;
}

.MuiButton-outlined:hover {
  background-color: $hoverColor !important;
}

.MuiButton-contained {
  color: $primaryColor !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.MuiSvgIcon-root {
  font-size: 2.5rem !important;
}

.MuiDivider-root {
  margin: auto !important;
  width: 25% !important;
  text-align: center !important;
  background-color: $textColor !important;
  padding: 1px 0px;
  border-radius: 4px !important;
}

.MuiInput-underline:before {
  border-color: #fff !important;
}

.MuiInput-underline:after {
  border-color: $textColor !important;
}

.MuiInputBase-root,
.MuiFormLabel-root {
  color: #fff !important;
  font-size: 1.1em !important;
  font-family: $primaryFont !important;
}

select {
  padding: 6px 4px 5px 3px !important;
  border: 1px solid $textColor !important;
  color: $darkTextColor !important;
  border-radius: $borderRadius !important;
  font-family: $primaryFont !important;
  font-size: 1em !important;
}
