@import '../../../styles/variables';

.ColorCard {
  width: 350px;
  margin: 20px;
  border-radius: 2px !important;

  h4 {
    font-size: 1.6em !important;
    font-weight: $light !important;
    color: $darkTextColor !important;
    padding: 22px 0px 15px 0px;
  }

  .MuiCardContent-root {
    padding: 0 !important;
  }

  .MuiDivider-root {
    width: 50% !important;
    background-color: $darkTextColor !important;

    margin-bottom: 20px !important;
  }
}

.ColorCard__background {
  padding: 100px;
  margin: 0 !important;
}

.hide-delete {
  display: none !important;
}

.ColorCard__hover:hover .hide-delete {
  display: block !important;
  position: absolute !important;
  right: 1% !important;
  top: 1% !important;
  z-index: 5;

  color: #fff !important;
}

.ColorCard__Link {
  text-decoration: none !important;
}

.ColorCard__Link:focus {
  background-color: #000 !important;
}
