@import '../styles/variables';
@import '../styles/mixins';

.App {
  text-align: center;
}

.route-container {
  margin-top: 100px;
}

@media only screen and (max-width: 374px) {
  .route-container {
    margin-top: 50px !important;
  }
}
