@import '../styles/variables';
@import '../styles/mixins';

.App {
  text-align: center;

  height: 100vh;
}

.route-container {
  margin-top: 100px;
}

// Mobile

@media only screen and (max-width: 374px) {
  .route-container {
    margin-top: 70px !important;
  }
}
