.Home {
  margin-top: 150px;

  h2 {
    font-size: 35px !important;
  }
}

.Home__new-button {
  width: 190px;
  border-width: 2px !important;
  margin-top: 10px !important;

  .fa-plus {
    font-size: 1.2em;
    padding: 3px 0px 7px 0px;
  }
}

.Home__palette-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 50px;
}

// Mobile

@media only screen and (max-width: 600px) {
  .Home {
    margin-top: 50px;
  }
}
