@import '../../../styles/variables';

.PaletteCard {
  width: 400px;
  margin: 20px;
  border-radius: 2px !important;

  .MuiDivider-root {
    width: 50% !important;
    background-color: $darkTextColor !important;

    margin-bottom: 20px !important;
  }

  .fa-github {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    background-color: rgb(216, 216, 216);
    border-bottom-right-radius: 1.5em;

    padding: 10px 15px 15px 10px;
  }

  .App__circle {
    color: $primaryColor !important;
  }
}

.PaletteCard__action {
  padding: 10px 35px !important;
}

.MuiTypography-h5 {
  font-size: 28px !important;
  color: $darkTextColor;
}

.CardPalette__link {
  text-decoration: none !important;
}

.CardPalette__preview {
  width: 25%;
  padding: 75px 0px;
}

@media only screen and (max-width: 420px) {
  .CardPalette__preview {
    width: 45%;
  }
}
