@import '../../../styles/variables';

.NewPalette {
  margin-top: 150px;

  h2 {
    font-size: 35px !important;
  }
}

.NewPalette__form {
  width: 40%;
  margin: 0 auto;
}

.NewPalette__github {
  width: 40%;
  margin: 0 auto;
  margin-top: 40px;

  h4 {
    text-align: left !important;
    font-weight: $light !important;
    font-size: 1.2em !important;
  }
}

.NewPalette__select {
  text-align: left !important;
  margin-top: 10px;
}

.NewPalette__save {
  background-color: $textColor !important;
  color: $primaryColor !important;
  padding: 3px 25px 2px 25px !important;
  font-size: 1.2em !important;
  margin-top: 100px !important;
  text-align: center !important;
}

.NewPalette__save:hover {
  background-color: #ebebeb !important;
}
