@import '../../../styles/variables';

.SinglePalette {
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 50px !important;
  padding: 35px 25px 35px 25px;
  max-width: 80%;
  background-color: #fff;
  border-radius: $borderRadius;
  box-shadow: 0px 1px 5px $darkTextColor;
  color: $darkTextColor !important;

  h2 {
    font-size: 35px !important;
  }
}

.SinglePalette__title {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
}

.SinglePalette__new-button {
  width: 220px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  border-width: 2px !important;
  margin-top: 10px !important;
  border-color: $darkTextColor !important;
  color: $darkTextColor !important;

  font-size: 1.1em !important;

  .fa-plus {
    padding: 4px 10px 7px 0px;
  }

  .fa-random {
    padding: 4px 0px 7px 10px;
  }

  .fa-github {
    color: $darkTextColor !important;
    padding: 2px 10px 5px 0px !important;
  }
}

.SinglePalette__new-button:hover {
  background-color: #ebebeb !important;
}

.SinglePalette__Link {
  text-decoration: none !important;
  align-self: flex-end !important;
}

.SinglePalette__edit {
  color: $darkTextColor !important;
  font-size: 33px !important;
  font-weight: $bold !important;
  padding: 0 !important;
  border: none !important;
  transition: 100ms ease-in-out !important;
}

.SinglePalette__edit:hover {
  color: $primaryColor !important;
  background-color: transparent !important;
}

.SinglePalette__colors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100% !important;

  margin-top: 35px;
}

.SinglePalette__download-text {
  text-align: left;
  font-family: monospace;
  font-size: 1.3em;
  background-color: #dedede;
  border-radius: 2px;

  margin: 10px;
  padding: 15px 15px 50px 15px;
}

.SinglePalette__download {
  border-width: 2px !important;
  border-color: $darkTextColor !important;
  color: $darkTextColor !important;

  margin: 5px 0px 15px 0px !important;

  .fa-file-download {
    padding: 3px 0px 7px 10px;
  }
}

.SinglePalette__delete {
  border-width: 2px !important;
  margin-top: 35px !important;
  border-color: #cd3a3a !important;
  color: #cd3a3a !important;

  font-size: 1.1em !important;
}

.SinglePalette__delete:hover {
  background-color: #fae5e5 !important;
}

.SinglePalette__modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SinglePalette__fade {
  background-color: #fff;
  border: 2px solid $darkTextColor;
  border-radius: 2px !important;
  box-shadow: 0px 1px 5px $darkTextColor; 
  padding: 20px;
  outline: 0 !important;

  h2 {
    font-size: 1.3em !important;
    color: $darkTextColor !important;
  }
}

.SinglePalette__delete-container {
  display: flex;
  justify-content: space-between;
}

.SinglePalette__cancel {
  border-width: 2px !important;
  margin-top: 35px !important;
  border-color: $darkTextColor !important;
  color: $darkTextColor !important;

  font-size: 1.1em !important;
}

.SinglePalette__alert {
  width: 350px !important;

  .MuiSvgIcon-root {
    font-size: 1em !important;
  }
}

// Tablet

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .SinglePalette__title {
    margin-top: -50px !important;
  }
}

// Mobile

@media only screen and (max-width: 600px) {
  .SinglePalette {
    margin-top: -25px;
    margin-bottom: 50px !important;
    padding: 25px 15px;
  }

  .SinglePalette__title {
    margin-top: -50px !important;
  }

  .SinglePalette__edit {
    font-size: 1.5em !important;
    margin-bottom: 5px !important;
  }

  .SinglePalette__colors {
    margin-top: 15px;
  }

  .SinglePalette__modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .SinglePalette__fade {
    margin: 0px 10px !important;
  }
}
